<script setup>
import { useCounterStore } from '@/stores/composition/counter'
import { ref } from 'vue'

const counter = useCounterStore()
const input = ref(0)
</script>

<template>
  <div>Counter: {{ counter.count }}</div>
  <div>Double: {{ counter.doubleCount }}</div>
  <input v-model="input" />
  <br>
  <button @click="counter.count += Number(input)">Increment (direct access)</button>
  <button @click="counter.randomize(Number(input))">Random (action)</button>
  <button @click="counter.$patch({ count: Number(input) })">Set (patch)</button>
</template>