<script>
import { useCounterStore } from '@/stores/composition/counter'
import { mapStores, mapWritableState, mapActions } from 'pinia'

export default {
  data: () => ({
    input: 0,
    store: useCounterStore()
  }),
  computed: {
    ...mapStores(useCounterStore),
    ...mapWritableState(useCounterStore, ['count', 'doubleCount'])
  },
  methods: {
    ...mapActions(useCounterStore, ['randomize',])
  }
}
</script>

<template>
  <div>Counter: {{ count }}</div>
  <div>Double: {{ doubleCount }}</div>
  <input v-model="input" />
  <br>
  <button @click="count += Number(input)">Increment (direct access)</button>
  <button @click="randomize(Number(input))">Random (action)</button>
  <button @click="store.$patch({ count: Number(input) })">Set (patch)</button>
</template>